* {
  box-sizing: border-box;
}

body {
  background-color: #333;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #fff
}

.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: -ms-flexbox; /* IE 10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE 10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  -ms-flex: 50%; /* IE 10 */
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: 18px;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}

.post {
  font-size: 20px;
  background-color: #aaa;
  float: right;
  width: 30%;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  border: medium #f0f solid;
  margin: 0.5em;
  padding: 0.5em;
  display: table;
  border-top: none;
  padding-top: 0;
}

.titlepost {
  font-size: 20px;
  padding: 0.5em;
  border: thin silver solid;
  border-bottom: none;
}

.postcaption {
  font-size: 20px;
  padding: 0.5em;
  border: thin silver solid;
  border-bottom: none;
}